.git
.ace-tool
.claude

**/node_modules
**/dist
**/.vite
**/.env.local
**/*.log
**/.DS_Store

docker-data
backend/backups
backend/uploads
backend/prisma/*.db
backend/prisma/*.db-*
backend/prisma/*.sqlite
backend/prisma/*.sqlite-*
