.git
.ace-tool
test

**/node_modules
**/dist
**/.env
**/*.log
**/.DS_Store

backend/backups
backend/uploads
backend/prisma/*.db
backend/prisma/*.db-*
backend/prisma/*.sqlite
backend/prisma/*.sqlite-*

frontend/.env*
frontend/dist-ssr
